@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Barlow+Semi+Condensed&family=Outfit&family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Barlow+Semi+Condensed&family=Open+Sans&family=Outfit&family=Raleway:wght@700&display=swap");

h1 {
  font-family: Raleway, sans-serif;
}

p {
  font-family: Open Sans, sans sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.headerright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text p {
  font-size: 16px;
}

.text h1 {
  font-size: 45px;
}

.text {
  text-align: left;
}

.sectionone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sectionone img {
  width: 650px;
  height: 500px;
}

.mailbutton {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 10px;
}

.first {
  width: 48%;
  height: 38px;
  background-color: hsl(224, 93%, 58%);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.second {
  height: 38px;
  background-color: hsl(224, 93%, 58%);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}

.mailbutton input {
  width: 55%;
}

.arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrows img {
  width: 24px;
  height: 24px;
}

.arrows p {
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
  cursor: pointer;
}

.box {
  box-sizing: content-box;
  background-color: white;
  box-shadow: 1px 1px 6px grey;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  margin-bottom: 12px;
}

.two {
  background-color: hsl(240, 75%, 98%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sectiontwo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ilustrationtwo {
  width: 650px;
  height: 500px;
  width: 60%;
}

.lefttext {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20px;
}

.lefttext h1 {
  font-size: 25px;
}

.acces {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(238, 22%, 44%);
  padding: 20px;
}

.gmail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  border-radius: 2px;
  padding: 10px;
  width: 100%;
}

.details p {
  font-size: 12px;
  margin: 1px;
}

.details h1 {
  font-size: 15px;
  margin: 0;
  margin-top: 2px;
}

.early {
  color: white;
}

footer {
  background-color: hsl(243, 87%, 12%);
  padding: 40px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0px;
  color: white;
}

.contact p {
  margin-left: 13px;
}

.columns {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.columns p {
  cursor: pointer;
}

.columns p:hover {
  color: hsl(238, 22%, 44%);
}

.curve {
  width: 100%;
}

@media (max-width: 900px) {
  html {
    width: fit-content;
  }

  .sectionone {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .two {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .background {
    width: fit-content;
  }

  .acces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gmail {
    width: 60%;
    margin-right: 120px;
  }

  .columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
  }

  .ilustrationtwo {
    width: 300px;
    height: 200px;
  }

  .sectionone img {
    width: 300px;
    height: 200px;
  }

  header {
    gap: 8px;
  }

  header img {
    width: 100px;
    height: 30px;
  }

  .one h1 {
    text-align: center;
  }

  .one p {
    text-align: center;
  }

  .mailbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    width: 100%;
    margin-left: 70px;
  }

  .mailbutton input {
    width: 100%;
    margin-left: 70px;
  }

  .curve {
    width: 100%;
    margin-bottom: -2px;
  }

  .one h1 {
    font-size: 30px;
  }

  .lefttext {
    width: 90%;
  }

  .lefttext h1 {
    font-size: 25px;
    text-align: center;
    width: 100%;
  }

  .lefttext p {
    font-size: 19px;
    text-align: center;
  }

  .second {
    width: 100%;
  }

  .arrows {
    display: flex;
    justify-content: center;
  }

  .box {
    box-sizing: content-box;
    width: 75%;
    margin: 10px;
    margin-left: 18px;
  }
}
